p{
    font-family: 'Pixelify Sans';
}
a{
    text-decoration: none;
    color: black;
}


button{
    font-family:'Pixelify Sans';
    font-size: 18px;
    background-color: rgb(224, 201, 166);
    border-width: 3px;
}



.buttonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70px;
    height: 70px;
}

.declineButton{
    border-radius: 5px;
    padding: 5px 25px 5px;
    margin-right: 50px;
   
}

.acceptButton{
    border-radius: 5px;
    padding: 5px 25px 5px;
    
}

.characterImg{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 8px;
}

.reward{
    width: 100%;
    height: 100%;
}


.rewardName{
    font-size: 26px;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px 10px #f0e210, 1px 1px 10px #f5f3f3;
}

.declineButton:hover{
     text-shadow: 1px 1px 10px #f60b0b, 1px 1px 10px #f5f3f3;
     color: red;
}

.acceptButton:hover{
     text-shadow: 1px 1px 10px #2ffa01, 1px 1px 10px #f5f3f3;
     color: #29d602;
}