.webContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: rgba(31, 140, 91, 0.821);
}

@media only screen and (max-width:600px) {

    .item{
        width: 300px;
        
    }

    .itemContainer{
        width: 300px;
    }
}